.App {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
}

.BookScrollViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: solid 2px green;
}

button {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px gray;
  transition: .2s;
}

button:hover {
  color: white;
  transition: .2s;
  background-color: rgb(71, 101, 182);
  box-shadow: rgba(71, 101, 182, 0.548);
  border-color: rgba(71, 101, 182, 0.795);
}

input {
  height: 25px;
  font-size: 15px;
}

.hidden {
  display: none;
}

.delete-btn { 
  background-color: white;
  color: red;
  border: 1px solid black;
  transition: .2s all ease;
}

.delete-btn:hover {
  background-color: red;
  color: white;
  transition: .2s all ease;
}

.invalid {
  outline: red 1.5px solid;
}

.addToBookBtn:hover {
  transition: .2s all ease;
  background-color: rgb(78, 157, 226);
  color: aliceblue(235, 235, 235)
}