.App {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  transition: all ease .2s;
  color: rgba(64, 106, 214, 0.527);
}

.navbar a:hover {
  color: rgb(64, 107, 214);
  transition: all ease .3s;
}

.BookScrollViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 3px;
  transition: .2s;
  color: rgba(64, 106, 214, 0.527);
  border: .5px solid rgba(71, 101, 182, 0.356);
}

button:hover {
  color: white;
  transition: .3s;
  background-color: rgb(112, 136, 197);
  border-color: rgba(71, 101, 182, 0.795);
}

.signInAndMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 15px;
}

input {
  height: 25px;
  font-size: 15px;
}

.hidden {
  display: none;
}

.delete-btn { 
  background-color: white;
  color: rgba(255, 0, 0, 0.589);
  border: 1px solid rgba(0, 0, 0, 0.322);
  transition: .2s all ease;
}

.delete-btn:hover {
  background-color: rgb(235, 70, 70);
  color: white;
  transition: .2s all ease;
}

.invalid {
  outline: red 1.5px solid;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AccountBooksStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.addToBookBtn:hover {
  transition: .2s all ease;
  background-color: rgb(78, 157, 226);
  color: aliceblue(235, 235, 235)
}

.searchBoxStyle {
  position: relative;
  bottom: 70.5px;
  outline: 1px solid rgba(51, 61, 117, 0.363);
  z-index: 1;
  background-color: white;
}

.fakePrompt {
  width: 80%;
  height: 300px;
  /* border: rgba(0, 0, 0, 0.507) solid 1.5px; */
  margin: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(78, 87, 138, 0.616);
  background-color: aliceblue;
}

.textareaStyling {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
  width: 80%;
  height: 50%;
  margin-bottom: 8px
}

.arrowStyle {
  font-size: 40px; 
  cursor: pointer;
  color: rgba(64, 106, 214, 0.5);
  transition: all ease .2s;
}

.arrowStyle:hover {
  color: rgb(64, 107, 214);
  transition: all ease .2s;
}

.bookCoverStyles {
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
  width: 30%;
  min-width: 300px;
  height: 240px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: all ease .2s;
  color: rgb(6, 55, 107);
  font-size: 30px;
  background-color: rgba(69, 151, 228, 0.212);
}

.bookCoverStyles:hover {
  box-shadow: -2px 2px 5px rgba(113, 152, 189, 0.616);
  transition: all ease .2s;
}