.App {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
}

.BookScrollViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: solid 2px green;
}

button {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px gray;
  transition: .2s;
}

button:hover {
  color: white;
  transition: .2s;
  background-color: rgb(71, 101, 182);
  box-shadow: rgba(71, 101, 182, 0.548);
  border-color: rgba(71, 101, 182, 0.795);
}

input {
  height: 25px;
  font-size: 15px;
}

.hidden {
  display: none;
}

.delete-btn { 
  background-color: white;
  color: red;
  border: 1px solid black;
  transition: .2s all ease;
}

.delete-btn:hover {
  background-color: red;
  color: white;
  transition: .2s all ease;
}

.invalid {
  outline: red 1.5px solid;
}

.AccountBooksStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.addToBookBtn:hover {
  transition: .2s all ease;
  background-color: rgb(78, 157, 226);
  color: aliceblue(235, 235, 235)
}

.fakePrompt {
  width: 80%;
  height: 300px;
  /* border: rgba(0, 0, 0, 0.507) solid 1.5px; */
  margin: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(78, 87, 138, 0.616);
  background-color: aliceblue;
}

.textareaStyling {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
  width: 80%;
  height: 50%;
  margin-bottom: 8px
}

.arrowStyle {
  font-size: 40px; 
  cursor: pointer;
  color: rgba(64, 106, 214, 0.5);
  transition: all ease .2s;
}

.arrowStyle:hover {
  color: rgb(64, 107, 214);
  transition: all ease .2s;
}